
body {
	background-color: #333;
	background-image: url(/images/striped_background.png);
	font-family: Arial, Verdana, sans-serif;
}

a,
a:focus,
a:hover,
a:active  { color:#ff0000; text-decoration:underline; outline: 0 none; }

.page_margins {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.page {
	background-color: #fff;
}

#header {
	overflow: hidden;
	padding: 30px;
}

#logo {
	float: left;
}

#nav {
	margin-top: auto;
	margin-bottom: auto;
}

#main {
}

#footer {
	height: 20px;
	text-align: center;
	font-size: 0.7em;
    font-weight: bold;
    background-color: #fff;
}

/* round */
.round {
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         10px;
}

/* blue */
.blue {
	color: #33a8e5;
}

/* green */
.green {
	color: #75e730;
}

/* login */
.centered {
    width: 450px;
	background: #333;
	padding: 25px;
	color: #aaa;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.centered div {
  padding: 5px;
}

.centered label {
    font-weight: bold;
}

.centered {
  font-size: 0.7em;
}

.centered div.actions {
  text-align: center;
}

.centered 
  a, 
  a:focus,
  a:hover,
  a:active  { color:#ff0000; text-decoration:underline; outline: 0 none; }

/* right */
.right {
  float: right;
}

/* left */
.left {
  float: left;
}
