<!-- begin: main navigation #nav -->
<div id="nav" role="navigation">
  <div class="hlist round">
    <ul>
      <li class="first"><%= link_to 'Home', root_path %></li>
      <li><a href="#">Button 2</a></li>
      <li><a href="#">Button 3</a></li>
      <li><a href="#">Button 4</a></li>
      <li class="last"><%= link_to "Login", login_path %></li>
    </ul>
  </div>
</div>
<!-- end: main navigation -->